<section>
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-2">
      <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full lg:order-last">
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="/images/stadarna.png"
          alt="Man using a computer"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="text-6xl font-bold text-sky-600">Lär känna oss på Städa Fint!</h2>

        <p class="mt-4 text-gray-600">
          På Städa Fint är vi proffs på städning i alla dess former. Varje månad utför vi fler än 6000
          kvalitetssäkrade städuppdrag i Stockholmsregionen. Välkommen hit!
        </p>

      </div>
    </div>
  </div>
</section>

<section class="bg-yellow-100">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8 sm:py-24">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-bold text-sky-600 sm:text-4xl">
        Att anlita oss ska kännas bra, för alla.
        <br />
        Varje gång.
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-8 lg:gap-16 lg:grid-cols-2">
      <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="/images/stadare.png"
          alt="Man using a computer"
        />
      </div>


      <div class="lg:py-16">
        <article class="space-y-4 text-gray-600">
          <h5 class="mt-4 text-xl font-bold text-sky-600">Våra tjänster</h5>
          <p>
            Vår målsättning är ett leverera en enkel tjänst på ett professionellt sätt, till marknadsledande
            priser. Vi erbjuder Basic Städning, Topp Städning, Diamant Städning och Fönsterputs. Du kan läsa
            mer om vår tjänster här nedanför.
          </p>
          <h5 class="mt-4 text-xl font-bold text-sky-600">Att antlita Städa Fint</h5>
          <p>
            Hos oss får du trygghet och kvalitet till låga priser. Alla våra tjänster är vad vi kallar för
            Feel-Good-Services. Det innebär bland annat att du alltid vet vem som är ansvarig hos oss och vart
            du ska vända dig om du har frågor eller synpunkter. Det innebär också att alla våra tjänster
            omfattas av vår generösa Nöjd kund-garanti.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="aboutSection-cards pt-12">

  <div class="block p-4" href="">
    <img class="object-cover w-full h-96" src="/images/basic_clean.jpeg" alt="" />
<details class="p-6 border-l-4 border-sky-500 bg-gray-50 group" close>
      <summary class="flex items-center justify-between cursor-pointer">
        <h5 class="text-lg font-medium text-gray-900">
         Basic Städning
        </h5>

        <span class="flex-shrink-0 ml-0.5 p-1.5 text-gray-900 bg-white rounded-full sm:p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-5 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
      </summary>

      <p class="mt-4 leading-relaxed text-gray-700">
           Vår Basic städning innebär en snabbare men grundlig rengöring av ditt hem och utförs av våra
      professionella städare. Vi städar efter era förutsättningar och hemiljö. För en grundligare städning
      rekomenderar vi Topp städning eller vår Diamant städning
      </p>
<ul class="list-disc p-4">
      <li>Städning av samtliga rum</li>
      <li>Rengöring av kök</li>
      <li>Städning av badrum och toaletter</li>
    </ul>

    </details>
  </div>

  <div class="block p-4">
    <img class="object-cover w-full h-96" src="/images/topp_clean.jpeg" alt="" />

<details class="p-6 border-l-4 border-sky-500 bg-gray-50 group" close>
      <summary class="flex items-center justify-between cursor-pointer">
        <h5 class="text-lg font-medium text-gray-900">
         Topp Städning
        </h5>

        <span class="flex-shrink-0 ml-0.5 p-1.5 text-gray-900 bg-white rounded-full sm:p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-5 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
      </summary>

      <p class="mt-4 leading-relaxed text-gray-700">
        Vår topp städning innebär en längre grundlig rengöring av ditt hem och utförs av våra professionella
        städare. Innan vi utför en storstädning i ditt hem tar vi reda på vad som behövs för att göra just din
        bostad sådär riktigt välstädad och fräsch. Vilka moment som ingår i tjänsten är.
      </p>
<ul class="list-disc p-4">
        <li>Städning av samtliga rum</li>
        <li>Rengöring av kök</li>
        <li>Städning av badrum och toaletter</li>
        <li>Moppning av golv</li>
        <li>Putsning av speglar</li>
        <li>Dammtorkning av prydnadssaker, hyllor och tavlor i lämplig höjd</li>
        <li>Möbler och lampor dammas av</li>
        <li>Disk- och köksbänk, spis och kakel rengörs</li>

    </details>

  </div>

  <div class="block p-4">
    <img class="object-cover w-full h-96" src="/images/StadadeHem-26.jpeg" alt="" />

<details class="p-6 border-l-4 border-sky-500 bg-gray-50 group" close>
      <summary class="flex items-center justify-between cursor-pointer">
        <h5 class="text-lg font-medium text-gray-900">
          Diamant Städning
        </h5>

        <span class="flex-shrink-0 ml-0.5 p-1.5 text-gray-900 bg-white rounded-full sm:p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-5 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
      </summary>

      <p class="mt-4 leading-relaxed text-gray-700">
       <p class="mt-4 leading-relaxed text-gray-700">
      Med Diamant städningen gör vårt professionella städteam ordentligt rent in i minsta detalj. Oavsett om
      ni ska bo kvar elle flytta städar vi allt i minsta detalj. Ni kommer mötas av ett skinande hem och du
      kan lägga all din energi på annat. Förutom allt ifrån Topp städning får ni:
      </p>
 <ul class="list-disc p-4">
      <li>Fönsterputs</li>
      <li>Karmputs</li>
      <li>Städning av väggar</li>
      <li>Städninga av lister och eluttag</li>
      <li>Torkar dörrar</li>
      <li>Golvbrunn</li>
      <li>Rengöring av vitvaror ut- och invändigt</li>
      <li>Avfettar och avkalkar väggar och fogar där det är möjligt.</li>

    </ul>
    </details>

   
  </div>

  <div class="block p-4" href="">
    <img class="object-cover w-full h-96" src="/images/windom_clean.jpeg" alt="" />
    <details class="p-6 border-l-4 border-sky-500 bg-gray-50 group" close>
      <summary class="flex items-center justify-between cursor-pointer">
        <h5 class="text-lg font-medium text-gray-900">
          Fönsterputs
        </h5>

        <span class="flex-shrink-0 ml-0.5 p-1.5 text-gray-900 bg-white rounded-full sm:p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-5 transition duration-300 group-open:-rotate-45"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </span>
      </summary>

      <p class="mt-4 leading-relaxed text-gray-700">
        Ibland kan det vara svårt att hinna med allt, därför kan det vara skönt att lämna över
        fönsterputsningen till riktiga städhjältar och få tid över till annat. Speciellt när det inte kostar
        skjortan. Låt våra proffs ge dig skinande rena fönster utan ränder, stänk eller flammor. Våra
        fönsterputsningstjänster finns tillgängliga ner till hela -16 grader och möjlighet finns även att få
        inglasade balkonger/terrasser putsade som tilläggstjänst. Du slipper det dåliga samvetet och krånglet
        med att putsa själv. Vi älskar att göra rent dina fönster och garanterar att du blir nöjd. Snart kan
        du också njuta av utsikten i ett ljusare och ännu trevligare hem.
      </p>
    </details>
  </div>

</section>



<aside class="p-12 bg-gray-100 sm:p-16 lg:p-24">
  <div class="max-w-xl mx-auto text-center">

    <p class="mt-2 text-3xl font-bold sm:text-5xl">
      Boka städning idag.
    </p>

    <div class="mt-8 sm:items-center sm:justify-center sm:flex">
      <a
        href="/#form-section"
        class="block px-5 py-3 font-medium text-white bg-sky-500 rounded-lg shadow-xl hover:bg-sky-700"
      >
        Boka här
      </a>

    </div>
  </div>
</aside>