<section>
  <div class="px-4 py-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            class="absolute inset-0 object-cover w-full h-full"
            src="/images/customerservice.jpeg"
            alt="Customer Service"
          />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span class="hidden lg:inset-y-0 lg:absolute lg:w-16 lg:bg-gray-100 lg:block lg:-left-16"></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold text-sky-600 sm:text-3xl">
            Kontakta oss
          </h2>

          <p class="mt-4 text-gray-600">
            Har du frågor eller synpunkter kring vår service eller vill du veta mer om oss? Tveka inte på att
            kontakta oss på något av sätten nedan. För press och media, vänligen kontakta oss på
            marknad@stadafint.se
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-sky-500">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:py-12 lg:col-span-2">
        <p class="max-w-xl text-lg">
          Här hittar du alla kontaktuppgifter du behöver, oavsett om du kontaktar oss som privat- eller
          företagskund. Vår kundtjänst är bemannad varje vardag. Övriga tider kan du skicka meddelande så
          återkommer vi nästa vardag.
          <br />
          Kundtjänst är öppet Måndag - fredag 10.00 - 15.00
        </p>

        <div class="mt-8">
          <a href="" class="text-2xl font-bold text-sky-200"> 077 788 67 57 </a>

          <address class="mt-2 not-italic">Sixten Sparres gata 2A Stockholm</address>
        </div>
      </div>

      <div class="p-8 bg-white rounded-lg shadow-lg lg:p-12 lg:col-span-3">
        <form action="" class="space-y-4">
          <div>
            <label class="sr-only" for="name">Namn</label>
            <input
              class="w-full p-3 text-sm border-gray-200 rounded-lg"
              placeholder="Name"
              type="text"
              id="name"
            />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              <input
                class="w-full p-3 text-sm border-gray-200 rounded-lg"
                placeholder="Email address"
                type="email"
                id="email"
              />
            </div>

            <div>
              <label class="sr-only" for="phone">Nummer</label>
              <input
                class="w-full p-3 text-sm border-gray-200 rounded-lg"
                placeholder="Phone Number"
                type="tel"
                id="phone"
              />
            </div>
          </div>

          <div>
            <label class="sr-only" for="message">Meddelande</label>
            <textarea
              class="w-full p-3 text-sm border-gray-200 rounded-lg"
              placeholder="Message"
              rows="8"
              id="message"
            ></textarea>
          </div>

          <div class="mt-4">
            <button
              type="submit"
              class="inline-flex items-center justify-center w-full px-5 py-3 text-white bg-black rounded-lg sm:w-auto"
            >
              <span class="font-medium"> Skicka meddelnade </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 ml-3"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>