<div class="w-full relative">
  <div
    class="w-full h-full bg-sky-500 top-0 left-0 absolute bg-gradient-to-br from-sky-500 via-yellow-500 opacity-70"
  ></div>
  <div class="w-full h-full flex flex-col absolute top-0 left-0 justify-center items-end pr-10">
    <div class="text-7xl font-bold text-white">När du inte hinner med</div>
    <div class="text-3xl text-white">Extra hjälp i vardagen</div>
  </div>
  <img src="/images/hero-cleaning.jpeg" alt="hero-img" />
</div>
<div class="flex justify-center align-center m-10">
    <form class="w-3/5" action="" method="post">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Förnamn
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Isak">
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Efternamn
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Andersson">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
                    Email
                </label>
                <input class="appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="email" placeholder="mailadress@gmail.com">
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-adress">
                    Adress
                </label>
                <input class="appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-adress" type="text" placeholder="Götgatan 35">
            </div>
            <div class="w-full md:w-1/2 px-3 mt-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-phone">
                    telefon
                </label>
                <input class="appearance-none w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-phone" type="number" placeholder="1234-567-890">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                    Postnr
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="number" placeholder="18537">
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                    Typ av kund
                </label>
                <div class="relative">
                    <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                        <option>Privatkund</option>
                        <option>Företagskund</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                    Typ av städning
                </label>
                <div class="relative">
                    <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                        <option>Basic Städning</option>
                        <option>Topp Städning</option>
                        <option>Diamant Städning</option>
                        <option>Fönstertvätt</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row mt-6">
            <div class="w-1/2">
                <p class="uppercase font-bold mb-6">välj datum</p>
                <div class="m-2 px-3">
                    <input type="date" name="date" class="cursor-pointer">
                </div>
            </div>
            <div class="w-1/2">
                <p class="uppercase font-bold mb-6">välj tid</p>
                <div class="flex w-full px-3 m-2 mb-5">
                    <label for="time_day" class="flex flex-col ml-2 order-last block uppercase tracking-wide text-gray-700 text-xs font-bold">
                        förmiddag
                        <span class="font-light">kl. 08:00 - 12:00</span>
                    </label>
                    <input type="radio" name="time" id="time_day" class="mr-4 border-0 h-5 w-5" value="08:00 - 12:00">
                </div>
                <div class="flex w-full px-3 m-2">
                    <label for="time_night" class="flex flex-col ml-2 order-last block uppercase tracking-wide text-gray-700 text-xs font-bold">
                        eftermiddag
                        <span class="font-light">kl. 13:00 - 17:00</span>
                    </label>
                    <input type="radio" name="time" id="time_night" class="mr-4 border-0 h-5 w-5" value="13:00 - 17:00">
                </div>
            </div>
        </div>
        <div class="w-full flex justify-end mt-5">
            <input class="px-5 py-2 text-sm font-medium text-white bg-sky-500 rounded-lg cursor-pointer hover:bg-sky-600" type="submit" value="Boka Städning">
        </div>
    </form>
</div>