<h2>Registrera</h2>

<form action="user/register" method="post">
    <input type="text" name="username" placeholder="Användarnamn" />
    <input type="password" name="hashedPassword" placeholder="Password" />
    <input type="email" name="email" placeholder="E-Mail" />
</form>